.card{
    margin-top: 5em;
    margin-bottom: 5em;
    margin-left: auto;
    margin-right: auto;
}

.eventu-red{
    background-color: rgb(223, 69, 69);
    color: white;
}

.eventu-pink-text{
    color: rgb(238, 134, 134);
}

.card-header{
    background-color: white;
    padding-top: 0.5em;
    padding-bottom: 0;
}

.tarjeta-evento .enlace-evento{
    text-decoration: none;
    color: white;
}

.tarjeta-evento .enlace-evento:hover{
    color: var(--eventu-pink);
}


@media screen and (min-width: 576px){
    .card-columns{
        column-count: 2;
    }
}

@media screen and (min-width: 768px){
    .card-columns{
        column-count: 2;
    }
}

@media screen and (min-width: 992px){
    .card-columns{
        column-count: 3;
    }
}